node_modules
examples/.obsidian/plugins/hot-reload
examples/.obsidian/plugins/obsidian-remotion/*
examples/.obsidian/workspace.json
examples/.obsidian/appearance.json
.direnv
ChatLog.md

remotion-md/dist
obsidian-remotion/main.js
obsidian-remotion/esbuild.wasm